include requirements.txt
recursive-include vehicle_rental_management *.json *.js *.css *.html *.py *.png *.jpg *.svg
recursive-include templates *.html *.py
recursive-include www *.*
recursive-include vehicle_rental_management/fixtures *